force-app/main/default/flows/Find_Schools.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Schools</name>
        <label>Find Schools</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>InvokeProcessLargeDataFunctionFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>School</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>length</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>Find a School close to a Specified Location</description>
    <interviewLabel>Find Schools {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Enter your location to find the near school.</description>
        <name>Enter_Point_of_Origin</name>
        <label>Enter Point of Origin</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Schools</targetReference>
        </connector>
        <fields>
            <name>Latitude</name>
            <dataType>String</dataType>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Longitude</name>
            <dataType>String</dataType>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>School</name>
        <label>School</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>School_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>School_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>School_Name</name>
                    <fieldText
          >&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Name:&lt;/b&gt; {!Find_Schools.name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>School_Description</name>
                    <fieldText
          >&lt;p&gt;&lt;b&gt;Description: &lt;/b&gt;{!Find_Schools.description}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>School_Address</name>
                    <fieldText
          >&lt;p&gt;&lt;b&gt;Address:&lt;/b&gt; {!Find_Schools.street}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>School_City</name>
                    <fieldText
          >&lt;p&gt;&lt;b&gt;City:&lt;/b&gt; {!Find_Schools.city}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>School_State</name>
                    <fieldText
          >&lt;p&gt;&lt;b&gt;State: &lt;/b&gt;{!Find_Schools.state}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>School_Zip</name>
                    <fieldText
          >&lt;p&gt;&lt;b&gt;Zip Code: &lt;/b&gt;{!Find_Schools.zip}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Point_of_Origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
